<div class="main-container centr">
    <div class="row">
        <div class="col-md-2 col-sm-1 col-xs-0"></div>
        <div class="col-md-5 col-sm-10 col-xs-12 text-center">
            <div class="alert alert-danger" *ngIf="isError">
                <div class="alert-items">
                    <div class="alert-item static">
                        <div class="alert-icon-wrapper">
                            <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                        </div>
                        <span class="alert-text">
                    {{error}}
                </span>
                    </div>
                </div>
                <button type="button" class="close" aria-label="Close" (click)="closeError()">
            <clr-icon aria-hidden="true" shape="close"></clr-icon>
        </button>
            </div>
            <h3>Specify attributes of perfect agent</h3>
            <table class="table table-compact">
                <thead>
                    <tr>
                        <th>Attribute</th>
                        <!--<th>Smaller than ...</th>
                        <th>Bigger than ...</th>-->
                        <!--<th>Equals ...</th>-->
                        <th>Values (separator ;)</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- <div> -->
                    <tr *ngFor="let attribute of agentService.attributes">
                        <th class="middle">
                            {{attribute.name}}
                        </th>
                        <!--<td>
                            <clr-checkbox [(ngModel)]="attribute.comparisonType[0]" (click)="setTypeOfComparison(attribute, 0)"></clr-checkbox>
                        </td>
                        <td>
                            <clr-checkbox [(ngModel)]="attribute.comparisonType[1]" (click)="setTypeOfComparison(attribute, 1)"></clr-checkbox>
                        </td>
                        <td>
                            <clr-checkbox [(ngModel)]="attribute.comparisonType[2]" (click)="setTypeOfComparison(attribute, 2)"></clr-checkbox>
                        </td>-->
                        <td class="middle">
                            <input type="text" [(ngModel)]="attribute.perfectValue" required size="30">
                        </td>
                    </tr>
                    <!-- </div> -->
                </tbody>
            </table>
        </div>

        <div class="col-md-1 col-sm-12 col-xs-12 text-center"></div>
        <div class="col-md-2 col-sm-6 col-xs-12 text-center">
            <div class="centr">
                <h5>Dictionary</h5>
                <textarea disabled id="sourcedis" rows="15" class="source-area topmargin" [(ngModel)]="dictionaryService.source" name="source"></textarea>
            </div>
        </div>

        <div class="col-md-2 col-sm-1 col-xs-0"></div>
    </div><br/>
    <button class="btn btn-success" (click)="countTheBest()"><clr-icon shape="event"></clr-icon> Finish</button>


</div>