<header class="header-6 header">
    <div class="branding">
        <a href="/" class="nav-link">
            <clr-icon shape="bullseye"></clr-icon>
            <span class="title">Choose the best</span>
        </a>
    </div>
    <!-- <div class="header-nav">
            <a routerLink="/agents" routerLinkActive="active" class="nav-link"><span class="nav-text">Agents</span></a>
            <a routerLink="/pc" routerLinkActive="active" class="nav-link"><span class="nav-text">PC</span></a>
            <a routerLink="/maxSat" routerLinkActive="active" class="nav-link"><span class="nav-text">Max-SAT</span></a>
            <a routerLink="/results" routerLinkActive="active" class="nav-link"><span class="nav-text">Results</span></a>
        </div> -->

    <div class="header-nav">
        <div class="nav-link nav-text"><button class="btn btn-default header-btn" [routerLink]="['/agents']" routerLinkActive="active">Agents</button></div>
    </div>
    <div class="header-nav">
        <div class="nav-link nav-text"><button class="btn btn-default header-btn" [routerLink]="['/pc']" routerLinkActive="active">PC</button></div>
        <div class="nav-link nav-text"><button class="btn btn-default header-btn" [routerLink]="['/maxSat']" routerLinkActive="active">Max-SAT</button></div>
    </div>
    <div class="header-nav">
        <div class="nav-link nav-text"><button class="btn btn-default header-btn" [routerLink]="['/results']" routerLinkActive="active">Results</button></div>
    </div>

    <div class="header-actions">
        <a href="help" class="nav-link nav-icon">
            <clr-icon shape="help" class="is-solid"></clr-icon>
        </a>
    </div>
</header>
<div class="container">
    <router-outlet></router-outlet>
</div>