<div class="container">
    <div class="content-area">
        <h2>Find the best agent</h2>
        <h3>Instruction</h3><br/>
        <ol class="list">
            <li>
                Specify agents (tab <a href="agents" class="nav-link"><span class="nav-text">Agents</span></a>)
                <ul class="list">
                    <li>Specify attributes</li>
                    <li>Create agents</li>
                    <li>Specify the agents' data</li>
                </ul>
            </li>
            <li>
                Compare agents using the <b>PC</b> method (tab <a href="pc" class="nav-link"><span class="nav-text">PC</span></a>)
                <ul class="list">
                    <li>Specify comparison type</li>
                    <li>Compare attributes</li>
                    <li>Compare agents' details</li>
                    <li>Run PC method</li>
                </ul>
            </li>
            <li>
                Find the best agents using the <b>Max-SAT</b> problem (tab <a href="maxSat" class="nav-link"><span class="nav-text">Max-SAT</span></a>)
                <ul class="list">
                    <li>Specify dictionary (tab <a href="dictionary" class="nav-link"><span class="nav-text">dictionary</span></a>) </li>
                    <li>Define the characteristics of the ideal agent</li>
                    <li>Run Max-SAT solver</li>
                </ul>
            </li>
            <li>View the results (tab <a href="results" class="nav-link"><span class="nav-text">Results</span></a>)</li>
        </ol>
    </div>
</div>