<div class="container">
    <div class="content-area">
        <h2>Witaj w aplikacji do wyboru najlepszego agenta</h2>
        <h3>Instrukcja</h3><br/>
        <ol class="list">
            <li>
                Określ agentów (zakładka <a href="agents" class="nav-link"><span class="nav-text">Agents</span></a>)
                <ul class="list">
                    <li>Określ atrybuty</li>
                    <li>Wybierz ilość</li>
                    <li>Określ ich nazwy</li>
                    <li>Wpisz dane</li>
                </ul>
            </li>
            <li>
                Wybierz najlepszych agentów za pomocą <b>Max-SAT</b> (zakładka <a href="pc" class="nav-link"><span class="nav-text">PC</span></a>)
                <ul class="list">
                    <li>Określ sposób porównania</li>
                    <li>Porównaj atrybuty</li>
                    <li>Porównaj dane</li>
                    <li>Ciesz się wynikami</li>
                </ul>
            </li>
            <li>
                Porównaj agentów metodą <b>Pairwise Comparisons</b> (zakładka <a href="maxSat" class="nav-link"><span class="nav-text">Max-SAT</span></a>)
                <ul class="list">
                    <li>Określ cechy idealnego agenta</li>
                    <li>Ciesz się wynikami</li>
                </ul>
            </li>
            <li>Oglądaj zbiorcze wyniki (zakładka <a href="results" class="nav-link"><span class="nav-text">Results</span></a>)</li>
        </ol>
    </div>
</div>